<footer class="bg-white">
  <div class="padded-content">
    <div class="row">
      <div class="portion one-fourth">
        <h5 class="text-left">Détails</h5>
        <ul class="footer-list">
          <li><i class="fas fa-home"></i> 12 rue Etienne Dolet, Suresnes France, 92150</li>
          <li><i class="fas fa-envelope"></i> olivierchemla@gmail.com</li>
          <li><i class="fas fa-phone"></i> 06 68 21 09 16</li>
        </ul>
      </div>
      <div class="portion one-fourth">
        <h5 class="text-left">Informations</h5>
        <ul class="footer-list">
          <li> <a href="#">Affiliation</a> </li>
          <li> <a href="#">Recrutement</a> </li>
          <li> <a href="#">Publicité</a> </li>
          <li> <a href="#">Demandes</a> </li>
        </ul>
      </div>
      <div class="portion one-fourth">
        <h5 class="text-left">Légales</h5>
        <ul class="footer-list">
          <li> <a href="#">Affiliation</a> </li>
          <li> <a href="#">Recrutement</a> </li>
          <li> <a href="#">Publicité</a> </li>
          <li> <a href="#">Demandes</a> </li>
        </ul>
      </div>
      <div class="portion one-fourth">
        <h5 class="text-left">A propos</h5>
        <ul class="footer-list">
          <li> <a href="#">Affiliation</a> </li>
          <li> <a href="#">Recrutement</a> </li>
          <li> <a href="#">Publicité</a> </li>
          <li> <a href="#">Demandes</a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-mentions bg-grey-10">
    <p>Copyright (c) 2017 Copyright Holder All Rights Reserved.</p>
  </div>
</footer>
<script src="js/main.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</body>

</html>
